# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project
*.db
*.opendb
.vs
.output
.temp
bin/LICENSE.FLAC.txt
bin/LICENSE.freetype.txt
bin/LICENSE.jpeg.txt
bin/LICENSE.modplug.txt
bin/LICENSE.mpg123.txt
bin/LICENSE.ogg-vorbis.txt
bin/LICENSE.png.txt
bin/LICENSE.tiff.txt
bin/LICENSE.webp.txt
bin/LICENSE.zlib.txt
bin/save/
bin/maps/.gitignore